<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="L2.Net.GameService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <L2.Net.GameService.Properties.Settings>
            <setting name="ServiceUniqueID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CacheServiceAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="CacheServicePort" serializeAs="String">
                <value>3001</value>
            </setting>
            <setting name="CacheServiceReconnectInterval" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="CacheServiceAutoReconnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameServiceAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="GameServicePort" serializeAs="String">
                <value>3002</value>
            </setting>
            <setting name="GameServiceEnableFirewall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorldAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="WorldPort" serializeAs="String">
                <value>7777</value>
            </setting>
            <setting name="WorldAllowedAccessLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GeodataFilesPath" serializeAs="String">
                <value>Geodata</value>
            </setting>
            <setting name="WorldMinProtoRev" serializeAs="String">
                <value>527</value>
            </setting>
            <setting name="WorldMaxProtoRev" serializeAs="String">
                <value>531</value>
            </setting>
        </L2.Net.GameService.Properties.Settings>
    </userSettings>
</configuration>