<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="L2.Net.CacheService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="L2.Net.CacheService.Properties.Settings.SqlServerConnectionString"
            connectionString="server=(local);user id=sa;password=thisisadmin;database=l2.net" />
    </connectionStrings>
    <userSettings>
        <L2.Net.CacheService.Properties.Settings>
            <setting name="ServiceUniqueID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SqlServerConnectionsPoolSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SqlServerDumpInterval" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="CacheServiceListenerAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="CacheServiceListenerPort" serializeAs="String">
                <value>3001</value>
            </setting>
            <setting name="CacheServiceEnableFirewall" serializeAs="String">
                <value>False</value>
            </setting>
        </L2.Net.CacheService.Properties.Settings>
    </userSettings>
</configuration>